body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
.App {
  text-align: center;
}
.App {
  font-family: sans-serif;
  text-align: center;
}

input {
  display: block;
  margin: 10px auto;
  padding: 8px 16px;
  font-size: 16px;
  color: #222;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 8px;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#placeholderCard {
  height: 200px;
  width: 350px;
  border: 1px solid black;
}

#container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.card {
  height: 200px;
  width: 350px;
  border: 1px solid black;
}
a {
  text-decoration: none;
}

#container > :first-child {
  margin-bottom: 50px;
}

#container > :nth-child(3) {
  margin-top: -125px;
}

#container > :nth-child(4) {
  margin-top: -125px;
}

#container > :nth-child(2):hover {
  margin-right: -40px;
}

#container > :nth-child(3):hover {
  margin-right: -40px;
}

#container > :nth-child(4):hover {
  margin-right: -40px;
}
